<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camping Web</title>
    <link rel="icon" type="image/svg" href="../assest/svgs/logo.svg">
    <link rel="stylesheet" href="../style/app.css">
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <div class="nav__logo-left">
                <a href="#" class="header__logo">
                    <img src="../assest/svgs/logo.svg" alt="logo" class="header__logo-img">
                </a>
                <ul class="nav__left">
                    <li class="nav__left-item">
                        <a href="#" class="nav__left-link nav__left-link--line">Home</a>
                    </li>
                    <li class="nav__left-item">
                        <a href="#" class="nav__left-link">Destination</a>
                    </li>
                    <li class="nav__left-item">
                        <a href="#" class="nav__left-link">Near me</a>
                    </li>
                    <li class="nav__left-item">
                        <a href="#" class="nav__left-link">Events</a>
                    </li>
                    <li class="nav__left-item">
                        <a href="#" class="nav__left-link">Blog</a>
                    </li>
                    <li class="nav__left-item">
                        <a href="#" class="nav__left-link">Gallery</a>
                    </li>
                    <li class="nav__left-item">
                        <a href="#" class="nav__left-link">About</a>
                    </li>
                    <li class="nav__left-item">
                        <a href="#" class="nav__left-link">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="nav__right">
                    <a href="#" class="nav__right-link">Sign up</a>
                    <a href="#" class="nav__right-link nav__right-link--border">Sign in</a>
            </div>
            <div class="nav__mobile">
                <ul class="nav__mobile-menu">
                    <li class="nav__mobile-item">
                        <a href="#" class="nav__mobile-link">Home</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="#" class="nav__mobile-link">Destination</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="#" class="nav__mobile-link">Near me</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="#" class="nav__mobile-link">Events</a>
                    </li>
                    <li class="nav__mobile-item">
                    <a href="#" class="nav__mobile-link">Blog</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="#" class="nav__mobile-link">Gallery</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="#" class="nav__mobile-link">About</a>
                    </li>
                    <li class="nav__mobile-item">
                        <a href="#" class="nav__mobile-link">Contact us</a>
                    </li>
                </ul>
                <div class="nav__mobile-sign">
                        <a href="#" class="nav__mobile-sign-up-in">Sign up</a>
                        <a href="#" class="nav__mobile-sign-up-in">Sign in</a>
                </div>
            </div>
            <div class="nav__mobile-btn">
                <img src="../assest/svg-icons/bars.svg" alt="menu" class="nav__mobile-btn-img">
            </div>
        </nav>
    
        <div class="header__caption">
            <h1 class="header__title">Find yourself <br> outside.</h1>
            <p class="header__text">Book unique camping experiences on over 300,000 campsites, cabins, RV parks, public parks and more.
            </p>
            <a href="#" class="btn header__button">Discover</a>
        </div>
    </div>
</header>



<main class="main">
    <div class="container">
        <section class="services">
            <div class="service__box">
                <img src="../assest/svgs/fire.svg" alt="fire" class="service__box__img">
                <h3 class="service__box__title">Camping & Day Use</h3>
                <p class="service__box__text">Return to your favorite spot or discover
                    a new one that’s right for you.
                </p>
            </div>
            <div class="service__box">
                <img src="../assest/svgs/tickets.svg" alt="tickets" class="service__box__img">
                <h3 class="service__box__title">Tours & Tickets</h3>
                <p class="service__box__text">Reserve tours and tickets to <br>
                    participate in events.
                </p>
            </div>
            <div class="service__box">
                <img src="../assest/svgs/paper.svg" alt="paper" class="service__box__img">
                <h3 class="service__box__title">Permits</h3>
                <p class="service__box__text">Obtain permits for access to <br>
                    high-demand locations.
                </p>
            </div>
            <div class="service__box">
                <img src="../assest/svgs/fish.svg" alt="fish" class="service__box__img">
                <h3 class="service__box__title">Recreation Activities</h3>
                <p class="service__box__text">Find the best spots for hunting, fishing
                    & recreational shooting.
                </p>
            </div>
        </section>

        <section class="destinition">
            <div class="destinition__explore">
                <img src="../assest/svgs/destination.svg" alt="destination" class="destination__img">
                <h2 class="destination__text">Explore Destinations & Activities</h2>
            </div>
            <div class="destination__places">
                <div class="place">                    
                    <img src="../assest/images/image1.jpg" class="place__img" alt="img1">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">Trickle Creek Ranch</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image2.jpg" class="place__img" alt="img2">
                    <img src="../assest/svg-icons/heart.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">Dragonfly Tiny Cabin</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image3.jpg" class="place__img" alt="img3">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">Tiny Cabin in the mountains</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                    </div>
                <div class="place">                    
                    <img src="../assest/images/image4.jpg" class="place__img" alt="img4">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">The Stuga</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image5.jpg" class="place__img" alt="img5">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">Luxury Tiny Beach Cabin</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image6.jpg" class="place__img" alt="img6">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">The Summit Cabin</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image7.jpg" class="place__img" alt="img7">
                    <img src="../assest/svg-icons/heart.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">Kindred Spirits Cabin</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image8.jpg" class="place__img" alt="img8">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">The Hermitage Cabin</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>                        
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image9.jpg" class="place__img" alt="img9">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">Red Lifeguard Stand</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image10.jpg" class="place__img" alt="img10">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">The Tree House</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image11.jpg" class="place__img" alt="img11">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">Barrier island elevated tent</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
                <div class="place">                    
                    <img src="../assest/images/image12.jpg" class="place__img" alt="img12">
                    <img src="../assest/svg-icons/heart-white.svg" class="place__heart" alt="heart">
                    <span class="place__price-night">$36/night</span>
                    <h3 class="place__title">Ninovan on the Shore</h3>
                    <p class="place__text">Book unique camping experiences on
                        over 300,000 campsites.</p>
                    <a href="#" class="btn place__button">Read more</a>
                </div>
            </div>
        
            <a href="#" class="btn destinition__view-all-btn">View all</a>
        </section>


        <section class="travel-planning">
            <div class="travel-planning__left">
                <h2 class="travel-planning__left__title">Let's Stay in Touch</h2>
                <p class="travel-planning__left__text">Get travel planning ideas, helpful tips, and stories from our visitors
                delivered right to your inbox.</p>
                <div class="travel-planning__left__email">
                    <form class="travel-planning__form">
                          <div class="travel-planning__input-wrapper">
                            <svg class="travel-planning__email-icon" xmlns="http://www.w3.org/2000/svg" width="24.242" height="17.746" viewBox="0 0 24.242 17.746">
                                <path id="Path_908" data-name="Path 908" d="M26.215,17.058H8.027A3.03,3.03,0,0,0,5,20.085V31.777A3.031,3.031,0,0,0,8.027,34.8H26.215a3.031,3.031,0,0,0,3.027-3.027V20.085A3.03,3.03,0,0,0,26.215,17.058Zm-18.188.857H26.215a2.168,2.168,0,0,1,1.829,1.007l-9.328,8.81a2.354,2.354,0,0,1-3.189,0L6.2,18.923A2.169,2.169,0,0,1,8.027,17.915ZM5.878,32.062a2.207,2.207,0,0,1-.021-.285V20.085a2.163,2.163,0,0,1,.021-.285l6.491,6.131Zm20.337,1.885H8.027A2.168,2.168,0,0,1,6.2,32.94l6.8-6.419,1.944,1.835a3.22,3.22,0,0,0,4.366,0l1.943-1.835,6.8,6.418A2.167,2.167,0,0,1,26.215,33.947Zm2.169-13.862V31.777a2.2,2.2,0,0,1-.021.285l-6.491-6.131L28.364,19.8A2.251,2.251,0,0,1,28.384,20.085Z" transform="translate(-5 -17.058)" fill="#8d8d8d"/>
                              </svg>
                            <input type="text" class="travel-planning__input" placeholder="Email Address">
                            <button class="travel-planning__submit" type="submit">
                                <img src="../assest/svg-icons/send.svg" alt="send" class="travel-planning__send-icon">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="travel-planning__banner">
                <img src="../assest/images/tent-mobile.png" alt="camping" class="travel-planning__img">
            </div>
        </section>
    </div>        
</main>
    
<footer class="footer">
    <div class="container">
        <div class="footer__section">
            <div class="footer__left-flex">
                <div class="footer__left-text">
                    <h3 class="footer__title">Hipcamp is everywhere you want to camp.</h3>
                    <p class="footer__text">Discover unique experiences on ranches, nature preserves, farms, vineyards, and
                        public campgrounds across the U.S. Book tent camping, treehouses, cabins, yurts,
                        primitive backcountry sites, car camping, airstreams, tiny houses, RV camping,
                        glamping tents and more.
                    </p>
                </div>
                <div class="footer__download-app">
                    <h3 class="footer__download-app__title">Download Our App</h3>
                    <a href="#">
                        <img src="../assest/images/google-play.jpg" alt="google play" class="footer__download-app__icon">
                    </a>
                    <a href="#">
                        <img src="../assest/images/app-store-apple.jpg" alt="app store" class="footer__download-app__icon">
                    </a>
                </div>
            </div>
            <div class="footer__wrapper">
                <div class="footer-menu">
                    <ul class="footer-menu__know-us">
                        <h3 class="footer-menu__about-title">Get to Know Us</h3>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Rules & Reservation Policies</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Accessibility</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Media Center</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Site Map</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <ul class="footer-menu__plan-us">
                        <h3 class="footer-menu__about-title">Plan With Us</h3>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Find Trip Inspiration</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Build a Trip</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Buy a Pass</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Enter a Lottery</a>
                        </li>
                    </ul>
                </div>    
                <div class="footer-menu">
                    <ul class="footer-menu__help-you">
                        <h3 class="footer-menu__about-title">Let Us Help You</h3>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Your Account</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Your Reservations</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Contact Us</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Help Center</a>
                        </li>
                        <li>
                            <a href="#" class="footer-menu__about__tag-a">Submit Feedback</a>
                        </li>
                    </ul>
                </div>    
            </div>
            <div class="footer__download-app footer__download-app--mobile">
                <h3 class="footer__download-app__title">Download Our App</h3>
                <a href="#">
                    <img src="../assest/images/google-play.jpg" alt="google play" class="footer__download-app__icon">
                </a>
                <a href="#">
                    <img src="../assest/images/app-store-apple.jpg" alt="app store" class="footer__download-app__icon">
                </a>
            </div>
         </div>
         <a href="#" class="footer__arrow-top-icon"><img src="../assest/svg-icons/arrow-top.svg" alt="icon"></a>
    </div>
        <span class="all__right__reserved">© 2020. All rights reserved.</span>    
</footer>
    <script src="../style/script.js"></script>
</body>
</html>